body{
    
    max-width: 1024px;
    margin: 0 auto;
    
}

main{
     padding: 0 20px;
}

h1,
h2,
h3 {
    padding-left: 0.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    border-left: 0.1em solid green; 
}

li{
    padding-left: 20px;
    font-family: sans-serif;
    list-style: none;
}

p{
    padding: 0 0 0 20px;
    text-indent: 20px;
}

img{
    display: block;
    width: 20%;
}

article{
    margin: 0 auto;
    padding-top: 40px;
}

footer{
    align-content: center;
}

.flex-container{
    display: flex;
    align-items: center;
}

.left{
    justify-content: space-between;
}

.center{
    justify-content: center;
}
